* {
  font-family: 'AR One Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete {
  background-color: #f44336;
}

.delete:hover {
  background-color: #972921;
}

.edit:hover {
  background-color: #006385;
}